:root {
    --nav-bar-color: rgb(216, 243, 252)
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

.main {
    display: grid;
    grid-template-columns: minmax(380px, 1fr) 3fr;
    position: relative;
}

.side-bar {
    background-color: var(--nav-bar-color);
    overflow: hidden;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side-bar > :nth-child(2) {
    height: 50px;
    width: 100%;
    background-color: transparent;
    background: url('./images/clipboard.png') no-repeat left; 
    background-position: 120px;
    background-size: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.projects-menu {
    position: absolute;
    top: 145px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgb(143, 205, 226);
    padding: 0;
    height: 0;
    border-radius: 5px;
    overflow:hidden;
    transition:height 0.3s ease-in-out;
    transition-delay: 0.1s;
    align-items: center;
    margin-left: -20px;
}

.projects-menu.active {
    height: 200px;
    transition: height .3s ease-in-out;

}

.projects-menu > button {
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#new-project-form {
    position: absolute;
    top: 0;
    left: 40%;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px 2px lightgrey;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 50px repeat(3,1fr);
    align-items: center;
    height: 300px;
    width: 280px;
}

h2 {
    font-size: 30px;
}

#new-project-form > :not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

#new-project-form > div > input {
    padding: 5px;
}

.projects-menu > button:hover {
    background-color: rgb(127, 181, 199);
}

.side-bar > :nth-child(2):hover {
    background-color: rgb(187, 210, 218);
}

.side-bar > :nth-child(2):active {
    background-color: rgb(164, 184, 190);
}
